body {
  background-color: #e6e6e6;
}

.container {
  max-width: 620px;
  margin: 0 auto;
  background-color: #fff;
}

.container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.container img {
  width: 100%;
}

.container section {
  padding-top: 20px;
  margin-bottom: 20px;
}

.container section h2 {
  font-size: 1.5rem;
  color: #5b4013;
  font-weight: bold;
  margin-bottom: 1rem;
  border-left: 0.5rem solid #5b4013;
  padding-left: 10px;
  margin-left: 0.5rem;
}

.container section p {
  margin-bottom: 1rem;
}

.container section ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}
.container section ul li {
  list-style: disc;
  margin-left: 2rem;
  border-bottom: 1px dashed black;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.container section a {
  background-color: #1e0aff;
  color: #fff;
  padding: 1rem;
  display: block;
  text-align: center;
}

.ristaspan {
  background-color: yellow;
  font-weight: bold;
  color: red;
  font-size: 1.3rem;
}

.boldspan {
  font-weight: bold;
}
